<div style="max-width: 420px; margin: 0 auto 8px auto;">
    <div class="today-facts">
        <h2>{{today.weekday}} {{today.month.name}} {{today.day}}
            <span class="weeknumber">vecka {{today.week}}</span>
        </h2>
        <p>{{#if today.helgdag}}today.helgdag{{/if}} {{#if today.helgdagsafton}}today.helgdagsafton{{/if}} {{#if today.redDay}}(röd dag){{/if}}</p>
        {{#if today.namnsdag}}
            <div>
                {{#each today.namnsdag}}
                    <span>{{this}}</span>{{#unless @last}} &amp; {{/unless}}
                {{/each}}
                har namnsdag
            </div>
        {{/if}}

        {{#if today.themeDays}}
            <br>
            <div>
                Temadagar:
                {{#each today.themeDays}}
                    {{#if @index}}, {{/if}}
                    <span>{{this}}</span>
                {{/each}}
            </div>
        {{/if}}
    </div>
</div>

<div class="calendar calendar-grid">
  <h1 class="month">
    {{month.name}}
  </h1>

  <ol class="day-names">
    <li>Mån</li>
    <li>Tis</li>
    <li>Ons</li>
    <li>Tor</li>
    <li>Fre</li>
    <li class="weekend">Lör</li>
    <li class="weekend">Sön</li>
  </ol>

  <section class="weekNumbers">
    {{#each weekNumbers}}
      <div>v{{this}}</div>
    {{/each}}
  </section>

  <ol class="days">
    {{#each days}}
       <li class = "{{#ifnoteq month.name ../selectedMonth.month}}previousMonth{{/ifnoteq}}
        {{#if isToday}}isToday{{/if}}
        {{#if redDay}}redDay{{/if}}
        {{#if helgDag}}helgDag{{/if}}
        {{#ifeq veckodag 'Lördag'}}weekend{{/ifeq}} {{#ifeq veckodag 'Söndag'}}weekend{{/ifeq}}">
        <div class="date">
          {{dayNumber}} <span class="prevmonthname">{{#ifnoteq month.name ../selectedMonth.month}}{{month.name}}{{/ifnoteq}}</span>
        </div>
        <div class="holiday">
          {{helgdag}}
          {{helgdagsafton}}
        </div>
        <div class="namedays">
          {{#each namnsdag}}
            <span>{{this}}</span>{{#unless @last}} &amp; {{/unless}}
          {{/each}}
        </div>
        <div class="themedays">
            {{#each themeDays}}
                <p>{{this}}</p>
            {{/each}}
        </div>
      </li>
    {{/each}}
    <li>
  </ol>
</div>
<br>
<div class="menu-bar">
    <a style="float: left" class="button" href="{{prevQueryString}}">Föregående månad</a>
    <a style="float: right" class="button" href="{{nextQueryString}}">Nästa månad</a>
</div>


<div class="calendar calendar-list">
  <h2 style="text-align: center;">Dag för dag</h2>

  <ol class="days">
    {{#each days}}
        {{#ifeq month.name ../selectedMonth.month}}
        <li class = "{{#if isToday}}isToday{{/if}}
            {{#if redDay}}redDay{{/if}}
            {{#if helgDag}}helgDag{{/if}}
            {{#ifeq veckodag 'Lördag'}}weekend{{/ifeq}} {{#ifeq veckodag 'Söndag'}}weekend{{/ifeq}}">
            <div class="date">
              {{dayNumber}} {{#ifnoteq month.name ../selectedMonth.month}}{{month.name}}{{/ifnoteq}}
              <span>{{veckodag}}</span>
            </div>
            <div class="holiday">
            {{helgdag}}
            {{helgdagsafton}}
            </div>
            <div class="namedays">
            {{#each namnsdag}}
                <span>{{this}}</span>{{#unless @last}} &amp; {{/unless}}
            {{/each}}
            </div>
            <div class="themedays">
                {{#each themeDays}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        </li>
      {{/ifeq}}
    {{/each}}
    <li>
  </ol>
</div>

<menu class="menu-bar menu-bar-bottom" style="background-color: white;" >
    <a style="float: left" class="button" href="/{{prevQueryString}}">Föregående månad</a>
    <a style="float: right" class="button" href="/{{nextQueryString}}">Nästa månad</a>
</menu>
