<header style="max-width: 420px; margin: 0 auto 8px auto;">
    <div class="today-facts">
        <h2 style="text-transform: capitalize;">{{today.weekday}} {{today.day}} {{today.month.name}}
            <span class="weeknumber">vecka {{today.week}}</span>
        </h2>
        <p>
          {{#if today.helgdag}}Helgdag: {{today.helgdag}}{{/if}} {{#if today.helgdagsafton}}Helgdag: {{today.helgdagsafton}}{{/if}} {{#if today.redDay}}(röd dag){{/if}}
        </p>
        {{#if today.namnsdag}}
            <div>
                {{#each today.namnsdag}}
                    <span>{{this}}</span>{{#unless @last}} &amp; {{/unless}}
                {{/each}}
                har namnsdag
            </div>
        {{/if}}

        {{#if today.themeDays}}
            <div class="todays-themedays">
                <strong>Temadagar:</strong>
                <ul>
                  {{#each today.themeDays}}
                      <li>{{this}}</li>
                  {{/each}}
                </ul>
            </div>
        {{/if}}
    </div>
    <nav class="menu-bar" style="height:30px;">
      <a style="float: left" class="button" href="{{prevQueryString}}">Tidigare</a>
      <a style="float: right" class="button" href="{{nextQueryString}}">Nästa år</a>
    </nav>
</header>

{{!-- Mobile only --}}
<div class="calendar calendar-list">
  {{#each currentYear.months}}
    <div class="mobile-month">
      <h2>{{this.name}} - detaljer</h2>
      <ol class="days">
        {{#each this.days}}
          {{#ifeq this.name ../selectedMonth.monthName}}
            <li class = "{{#if isToday}}isToday{{/if}}
                {{#if redDay}}redDay{{/if}}
                {{#if helgDag}}helgDag{{/if}}
                {{#ifeq veckodag 'Lördag'}}weekend{{/ifeq}} {{#ifeq veckodag 'Söndag'}}weekend{{/ifeq}}">
                <div class="date">
                  {{dayNumber}} {{#ifnoteq this.name ../selectedMonth.monthName}}{{month.name}}{{/ifnoteq}}
                  <span>{{veckodag}}</span>
                </div>
                <div class="holiday">
                {{helgdag}}
                {{helgdagsafton}}
                </div>
                <div class="namedays">
                {{#each namnsdag}}
                    <span>{{this}}</span>{{#unless @last}} &amp; {{/unless}}
                {{/each}}
                </div>
                <div class="themedays">
                    {{#each themeDays}}
                        <p>{{this}}</p>
                    {{/each}}
                </div>
            </li>
          {{/ifeq}}
        {{/each}}
      </ol>
    </div>
  {{/each}}
</div>

{{!-- Desktop --}}
{{#each currentYear.months}}
    <div class="calendar calendar-grid {{#ifeq this.isInThePast true}}is-in-the-past{{/ifeq}}">
        <h1 class="month">
          {{this.name}}
        </h1>

        <ol class="day-names">
            <li>Mån</li>
            <li>Tis</li>
            <li>Ons</li>
            <li>Tor</li>
            <li>Fre</li>
            <li class="weekend">Lör</li>
            <li class="weekend">Sön</li>
        </ol>

        <section class="weekNumbers">
          {{#each this.weekNumbers}}
            <div>v{{this}}</div>
          {{/each}}
        </section>

        <ol class="days">
          {{#each this.days}}
            {{#ifeq this.isBlank true}}
              <li>
              </li>
            {{/ifeq}}
            {{#ifnoteq this.isBlank true }}
                <li class = "
                    {{#ifnoteq currentMonth.name ../../selectedMonth.monthName}}not-this-month{{/ifnoteq}}
                    {{#if isToday}}isToday{{/if}}
                    {{#if redDay}}redDay{{/if}}
                    {{#if helgDag}}helgDag{{/if}}
                    {{#ifeq veckodag 'Lördag'}}weekend{{/ifeq}} {{#ifeq veckodag 'Söndag'}}weekend{{/ifeq}}">
                    <div class="date">
                      {{dayNumber}}
                    </div>
                    <div class="holiday">
                      {{helgdag}}
                      {{helgdagsafton}}
                    </div>
                    <div class="namedays">
                      {{#each namnsdag}}
                          <span>{{this}}</span>{{#unless @last}} &amp; {{/unless}}
                      {{/each}}
                    </div>
                    <div class="themedays">
                      {{#each themeDays}}
                          <p>{{this}}</p>
                      {{/each}}
                    </div>
                </li>
            {{/ifnoteq}}
          {{/each}}
          <li>
        </ol>
    </div>
{{/each}}
