<header>
  <div class="menu-bar">

    <div class="today-facts">
      <span class="today-number">Idag: <strong>{{today.weekday}} {{today.month}} {{today.day}}{{#if today.week}}</strong>, vecka {{today.week}}{{/if}}</span>
    </div>
    <a style="float: left" class="button btn-link" href="/{{prevQueryString}}">Föregående månad</a>
    <a style="float: right" class="button btn-link" href="/{{nextQueryString}}">Nästa månad</a>

  </div>
</header>

<div class="calendar">

  <h1 class="month">
    {{month.name}}
  </h1>

  <ol class="day-names">
    <li>
      Mån
    </li>
    <li>
      Tis
    </li>
    <li>
      Ons
    </li>
    <li>
      Tor
    </li>
    <li>
      Fre
    </li>
    <li class="weekend">
      Lör
    </li>
    <li class="weekend">
      Sön
    </li>
  </ol>


  <section class="weekNumbers">
    {{#each weekNumbers}}
      <div>v{{this}}</div>
    {{/each}}
  </section>

  {{!-- SAMPLE DATA
    {
        "datum": "2018-03-30",
        "veckodag": "Fredag",
        "arbetsfri dag": "Ja",
        "röd dag": "Ja",
        "vecka": "13",
        "dag i vecka": "5",
        "helgdag": "Långfredagen",
        "namnsdag": [
        "Holger",
        "Holmfrid"
        ],
        "flaggdag": ""
    }
  --}}
  <ol class="days">
    {{#each days}}
       <li class = "{{#ifnoteq month.name ../selectedMonth.month}}previousMonth{{/ifnoteq}}
        {{#if isToday}}isToday{{/if}}
        {{#if redDay}}redDay{{/if}}
        {{#if helgDag}}helgDag{{/if}}
        {{#ifeq veckodag 'Lördag'}}weekend{{/ifeq}} {{#ifeq veckodag 'Söndag'}}weekend{{/ifeq}}">
        <div class="date">
          {{dayNumber}} {{#ifnoteq month.name ../selectedMonth.month}}{{month.name}}{{/ifnoteq}}
        </div>
        <div class="holiday">
          {{helgdag}}
          {{helgdagsafton}}
        </div>
        <div class="namedays">
          {{#each namnsdag}}
            <span>{{this}}</span>{{#unless @last}} &amp; {{/unless}}
          {{/each}}
        </div>
      </li>
    {{/each}}
    <li>
  </ol>
</div>
